body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 400px;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left {
    position: fixed;
    margin: auto;
    padding: 5px;
}
.body-right {
    position: fixed;
    margin: auto;
    padding: 5px;
}
input {
    border-bottom: rgb(58, 58, 58);
}
.postcard-footer {
	position: fixed;
	text-align: center;
    	background-color: rgb(233, 2, 2) !important;
	margin-left: 50%;
	}
